<%= form_for(@assignment) do |f| %>
  <%= render 'shared/error_assignments' %>
  
  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :due %><br>
    <%= f.date_select :due %>
  </div>
  <div class="field">
    <%= f.label :points %><br>
    <%= f.number_field :points %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :submission %><br>
    <%= f.text_area :submission %>
  </div>
  <!--User box here-->
  <%= fields_for(@assignment_item) do |ai| %>
    <div class="field">
      <%= ai.label "Assign to following students:" %><br>
      <%= collection_select(:users, :id, @all_users, :id, :name, {}, {:multiple => true}) %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
