<p id="notice"><%= notice %></p>

<h1>Assigning to Users for <%= @assignment.name %></h1>

<%= form_tag do |f| %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.isadmin %></td>
        <td><%= link_to 'Show', AssignmentItem.find_by(assignment_id: @assignment.id, user_id: user.id) %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'Back', @assignment %> | 
<%= link_to 'New User', new_user_path %>
