<% provide(:title, "Listing Assignment") %>

<p id="notice"><%= notice %></p>

<h1>Listing Assignments</h1>
<div class="media">
  <div class="media-body">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Due</th>
          <th>Points</th>
          <th>Content</th>
          <th>Submission</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @assignments.each do |assignment| %>
          <tr>
            <td><%= assignment.name %></td>
            <td><%= assignment.due %></td>
            <td><%= assignment.points %></td>
            <td><%= assignment.content %></td>
            <td><%= assignment.submission %></td>
            <td><%= link_to 'Show', assignment, class: 'btn btn-xs btn-default' %></td>
            <td><%= link_to 'View Submissions', view_submissions_path(assignment), class: 'btn btn-xs btn-default' %></td>
            <td><%= link_to 'Edit', edit_assignment_path(assignment), class: 'btn btn-xs btn-success' %></td>
            <td><%= link_to 'Destroy', assignment, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>  

<br>

<%= link_to 'New Assignment', new_assignment_path %>
