<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assignment.name %>
</p>

<p>
  <strong>Due:</strong>
  <%= @assignment.due %>
</p>

<p>
  <strong>Points:</strong>
  <%= @assignment.points %>
</p>

<p>
  <strong>Content:</strong>
  <%= @assignment.content %>
</p>

<p>
  <strong>Submission:</strong>
  <%= @assignment.submission %>
</p>

<% if isAdmin? %>
  <%= link_to 'Edit', edit_assignment_path(@assignment) %> |
  <%= link_to 'Assign', '/assignments/'+@assignment.id.to_s+'/assign' %> |
  <%= link_to 'Test Cases', assignment_testcases_path(@assignment) %> |
  <%= link_to 'Back', assignments_path %>
<% else %>
  <%= link_to 'Test Assignment', '/assignments/'+@assignment.id.to_s+'/trial', class: 'btn btn-success btn-xs' %>
  <%= link_to 'Submit Assignment', submit_path, class: 'btn btn-success btn-xs' %>
  <%= link_to 'View Submission', AssignmentItem.find_by(assignment_id: @assignment.id, user_id: current_user.id), class: 'btn btn-success btn-xs' %>
<% end %>