<% provide(:title, "Assignment Submissions") %>

<p id="notice"><%= notice %></p>

<h1>Assignment <%= @assignment.name  %> submissions</h1>
<div class="media">
  <div class="media-body">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Student's name</th>
          <th>Student's email</th>
          <th>Student's submission</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @ai.each do |ai| %>
          <tr>
            <td><%= ai.user.name %></td>
            <td><%= ai.user.email %></td>
            <td><%= link_to 'View Submission', ai, class: 'btn btn-xs btn-default' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div> 