<% provide(:title, "Listing Users") %>

<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>
<div class="media">
  <div class="media-body">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-xs btn-success' %></td>
            <td><%= link_to 'Destroy', user, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New User', new_user_path %>
