<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-12">
    <h3>Welcome <%= @user.name %></h3>
  </div>
</div>
<div class="row">
  <% if @user.isadmin %>
    <%=  render 'layouts/admin' %>
  <% else %>
    <%= render 'layouts/user' %>
  <% end %>
</div>