<!-- Create is an ugly name for submitting assignment -->
<%= form_tag({:action => 'create'}, :multipart => true) do %> 
  <p><label for="upload_file">Select File</label>
  <%= file_field 'upload', 'datafile' %></p>
  <%= submit_tag "Upload", class: "btn btn-default" %>
<% end %>
</p>

<%= form_for(:assignment_item, url: submit_path) do |f| %>
  <%= f.label :'Source' %>
  <%= f.text_area :submission, class: 'form-control', placeholder: "Please copy-paste source code here only if you are not uploading assignment.", rows: "15" %>
  <!-- upload file form display-->
  <!--%= f.file_field :file %-->
 

  <p></p>
  <%= f.submit "Submit Assignment", class: "btn btn-default" %>
  <p></p>
  
<% end %>