<%= form_tag({:action => 'test'}, :multipart => true) do %>
  <p><label for="upload_file">Select File</label>
  <%= file_field 'upload', 'datafile' %></p>
  <%= submit_tag "Upload", class: "btn btn-default" %>
<% end %>
</p>

<%= form_for(:assignment_item, url: '/assignments/'+@current_assignment.assignment.id.to_s+'/trial') do |f| %>
  <%= f.label :'Source' %>
  <%= f.text_area :submission, class: 'form-control', placeholder: "Please copy-paste source code here only if you are not uploading assignment.", rows: "15" %>
  <!-- upload file form display-->
  <!--%= f.file_field :file %-->
  
  </p>
  <%= f.submit "Test Assignment", class: "btn btn-default" %>
  <p></p>
  
 
<% end %>