Viewing submission by <%= @current_assignment.user.name %>
<% if @user.isadmin %>
for user, <%= link_to @user.name, @user %> 
<% end %>
for assignment, <%= link_to @current_assignment.assignment.name, @current_assignment.assignment %>.<br/>
<% if @current_assignment.submission.nil? %>
<p class="">Assignment not submitted.</red>
<% else %>
Submission: <pre><%= @current_assignment.submission %><br/></pre>
Compiled: <%= @results["compiled"] %><br/>
<% if @results["test_results"].nil? %>
<% else %>
<strong>Test Results</strong><ol>
<% @results["test_results"].each do |result| %>
    <li><strong>Parameters</strong>: <%= result["test"]["params"] %></li>
    <ul>
        <li><strong>Output</strong>: <%= result["output"] %></strong></li>
        <li><strong>Pattern</strong>: <%= result["test"]["pat"] %></strong></li>
        <li><strong>Matches</strong>: <%= result["matches"] %></strong></li>
    </ul>
<% end %>
</ol>
<% end %>
<% end %>
<p></p>
<%= link_to 'Back', assignment_path(@current_assignment.assignment) %>