<!-- dispays the user, assignment, text entry box, and submit button -->
<div class="row">
  <h3><%= @current_assignment.assignment.name %></h3>
  <p class="help-block">Please upload file OR paste source for assignment.</p>
  
  <%= render 'form' %>
  <%= link_to 'Cancel', @current_assignment.assignment %>
</div>