<h3>Results for assignment <%= link_to @current_assignment.assignment.name, assignment_path(@current_assignment.assignment) %></h3>
<strong>Submission</strong>: <pre><%= @submission %><br/></pre>
<strong>Compiled</strong>: <%= @results[:compiled] %><br/>
<% if @results[:test_results].nil? %>
<% else %>
<strong>Test Results</strong><ol>
<% @results[:test_results].each do |result| %>
    <li><strong>Parameters</strong>: <%= result[:test][:params] %></li>
    <ul>
        <li><strong>Output</strong>: <%= result[:output] %></strong></li>
        <li><strong>Pattern</strong>: <%= result[:test][:pat] %></strong></li>
        <li><strong>Matches</strong>: <%= result[:matches] %></strong></li>
    </ul>
<% end %>
</ol>
<% end %>
<% if @success %>
<% else %>
error: <pre><%= @error_text %><br/></pre>
<% end %>
<p></p>
<%= link_to 'Back', assignment_path(@current_assignment.assignment) %>