<%= form_for [@assignment, @testcase] do |f| %>
  <% if @testcase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testcase.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @testcase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :assignment, value: @assignment.id %>
  <div class="field">
    <%= f.label :Parameters %><br>
    <%= f.text_field :parameters %>
  </div>
  <div class="field">
    <%= f.label :Pattern %><br>
    <%= f.text_area :pattern %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
