<p id="notice"><%= notice %></p>

<h1>Listing Test Cases</h1>

<table>
  <thead>
    <tr>
      <th>Parameters</th>
      <th>Pattern</th>
      <th>Assignment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testcases.each do |testcase| %>
      <tr>
        <td><%= testcase.parameters %></td>
        <td><%= testcase.pattern %></td>
        <% if testcase.assignment.nil? %>
          <td></td>
          <td>Show</td>
          <td>Edit</td>
          <td><%= link_to 'Destroy', 'testcase/'+testcase.id.to_s+'/destroy', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= testcase.assignment.name %></td>
          <td><%= link_to 'Show', assignment_testcase_path(testcase.assignment,testcase) %></td>
          <td><%= link_to 'Edit', edit_assignment_testcase_path(testcase.assignment,testcase) %></td>
          <td><%= link_to 'Destroy', [testcase.assignment, testcase], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
