<p id="notice"><%= notice %></p>

<h1>Listing Test Cases</h1>

<table>
  <thead>
    <tr>
      <th>Parameters</th>
      <th>Pattern</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testcases.each do |testcase| %>
      <tr>
        <td><%= testcase.parameters %></td>
        <td><%= testcase.pattern %></td>
        <td><%= link_to 'Show', assignment_testcase_path(testcase.assignment,testcase) %></td>
        <td><%= link_to 'Edit', edit_assignment_testcase_path(@assignment,testcase) %></td>
        <td><%= link_to 'Destroy', [testcase.assignment, testcase], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', assignment_path(@assignment) %> |
<%= link_to 'New Test Case', new_assignment_testcase_path(@assignment) %>
