<p id="notice"><%= notice %></p>

<p>
  <strong>Parameters:</strong>
  <%= @testcase.parameters %>
</p>

<p>
  <strong>Pattern:</strong>
  <%= @testcase.pattern %>
</p>

<%= link_to 'Edit', edit_assignment_testcase_path(@assignment,@testcase) %> |
<%= link_to 'Back', assignment_testcases_path(@assignment) %>