<p id="notice"><%= notice %></p>

<h1>Courses</h1>

Adding courses is not really the scope of this project as the same can be accomplished by handpicking users from the user box when creating a new assignment.
This page is left for future implementations to further enhance the functionalities of the project.

<br>