<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Assignment Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% all_assignments.each do |a| %>
          <tr>
            <% if a.name %>
              <td>Assignment <%= a.id %> <%= a.name %>:</td>
            <% else %>
              <td>Assignment <%= a.id %>: </td>
            <% end %>
            <td>
              <%= link_to 'View Submissions', a %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Assignments Listing', assignments_path %> | 
<%= link_to 'Test Case Listing', '/testcases' %>