<div class="media">
  <div class="media-body">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>New Assignments (<%= @user_assignments.count %>)</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @user_assignments.each do |a| %>
          <tr>
            <% if a.assignment.name %>
              <td><%= a.assignment.name %></td>
            <% else %>
              <td>Assignment <%= a.id %>: </td>
            <% end %>
            <td>
              <%= link_to 'View Assignment', a.assignment, class: 'btn btn-xs btn-default' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>