<footer class="footer">
  <small>
    <a href="http://www.fgcu.edu">Auto Grader II for C++ Assignments</a>
    by <a href="http://itech.fgcu.edu/faculty/zalewski/CEN4065/CEN4065-ListOfProjects2014.pdf">Team 6 - Rabeet Fatmi, Lloyd Gibson, Brent Oliver</a>
    for <a href="http://satnet.fgcu.edu/~munnerley/instructor_site/course10.html">CEN-4065 Software Architecture</a> 
    by <a href="http://satnet.fgcu.edu/~munnerley/instructor_site/index.html">Prof. Zalewski</a>
  </small>
  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>