<header class="navbar navbar-default">
  <div class="container-fluid">
    <%= link_to "Auto Grader II", root_path, id: "logo" %>
    <nav>
      <ul class="nav nav-tabs">
        <li><%= link_to current_user.name, current_user %></li>
        <% if isAdmin? %>
          <li><%= link_to "Users", users_path %></li>
        <% end %>
        <li><%= link_to "Courses",   courses_path %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
      </ul>
    </nav>
  </div>
</header>